<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
        <h1>Contact</h1>
        <form>

        
        <table align="center" border="1">
            <tr>
                <th>Name</th>
                <td><input type="text" placeholder="Name"/></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" placeholder="abc@gmail.com"/></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><textarea></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" /></th>
            </tr>
            
            
        </table>

        </form>
 