<html>
    <head>
    </head>
    <body>
        <form action="/primeresult" method="post">
            <h1>Please Enter Number:</h1>
            <input type="text" name="number"/>
            <input type="submit" value="OK"/>
        </form>
    </body>
</html>