
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <br />
        <br />
        <hr />
        <br />
        <br />
        <h1>About</h1>
        <br />
        <br />
        <img src="/images/audi_1.jpg" height="300" width="300" />
        <img src="/images/audi_2.jpg" height="300" width="300" />
        <img src="/images/audi_3.jpg" height="300" width="300" />
        <img src="/images/audi_4.jpg" height="300" width="300" />
        <br />
        <br />
        <br />
        <form>
            <table align="center" border="1">
                <tr>
                    <th>
                        S.No
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        City
                    </th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Akash</td>
                    <td>Indore</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Akshay</td>
                    <td>India</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Anuj</td>
                    <td>Indranage</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Arvind</td>
                    <td>Iran</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Arun</td>
                    <td>Iraq</td>
                </tr>
            </table>
        </form>
