<form action="/teachers/form" method="post">
    
    <div class="text-center"><h1>Registeration</h1></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offser-md-2">
                
             <div class="form-group ">
                <label>Full name</label>
                <input type="text" class="form-control" name="name">
             </div>


             <div class="form-group ">
                <label>Salary</label>
                <input type="number" class="form-control" name="salary">
             </div>



             <div class="form-group">
           <label>City</label><br/>     
           <select class="form-control" name="city">
                 <option>select</option>
                 <option>indore</option>
                 <option>mumbai</option>
                 <option>pune</option>
                 <option>delhi</option>
                 <option>kolkatta</option>
                 <option>banglore</option>
                 <option>aurangabad</option>
                 <option>bhopal</option>
                 <option>chennai</option>
                </select>
             </div>
             <br/>
             <br/>
                <br/>
             <div class="form-group">
              <label>gender</label>
                  male<input type="radio"  name="gender" value="male">
                  female <input type="radio" name="gender" value="female">
             </div>

              <div class="form-group">
              <label>contact</label>
              <input type="text" class="form-control" name="number">
              </div>



                <div class="form-group">        
                <input type="submit" class="btn btn-success" value="submit">
                <input type="clear" class="btn btn-info"  value="clear">
                </div>


            </div>
        </div>
    </div>
</form>