<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
     -->
     <link rel="stylesheet" href=" /css/bootstrap.css">
     <link rel="stylesheet" href=" /js/jquery.css">
     <link rel="stylesheet" href=" /js/bootstrap.bunddle.js">
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home page</title>
</head>
<body>
    <a href="\">Home page</a>
    <a href="\about">about page</a>
    <a href="\contact">caontact page</a>
    <h1>Home  page is here</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, sequi atque qui repellendus minus, pariatur eaque dicta, nemo ipsam inventore delectus reiciendis! Placeat quis commodi libero dicta vero pariatur nihil.</p>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">The Stepping Stone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            
          </ul>
        </div>
      </nav>
      <br >
      <br >

      <% things.forEach((x)=>{ %>
        <h1><%= x %></h1>
        
        <% }) %>
    
</body>
</html>