<html>
    <head>

    </head>
    <body>
        <h1>Home Page</h1>
        <Br />
        <Br />
        Insert Any Number <input type="text" />
        <br/>
        <br />
        <input type="submit" />
    </body>
</html>