

         <div class="container mt-4" style="min-height: 700px;">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Page</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque mollitia tempora sunt, illum dolore, possimus omnis, dolores sed tempore distinctio perferendis soluta itaque culpa velit aliquam? Ipsa tempora alias accusantium?</p>
                </div>
            </div>
         </div>

         