<html>
    <head>
      <title><%= title %></title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        


          <%- include(nav) %>
          <%- include(pagename) %>


          <div class="container-fluid bg-dark">
            <h4 class="text-center text-light m-0 p-2">Footer</h4>
         </div>
         
        </body>
        
        </html>