<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>

        <div class="container-fluid ">

            <%- include(pagename) %>

        </div>


        
    </body>
    </html>