<%- include('header')  %>


<div class="container mt-4" style="min-height: 400px;">
    <div class="row">
        <div class="col-md-8">
           <h1>Help</h1>

        </div>
    </div>
</div>

<%- include  ('footer')%>


