<%- include('header')  %>

<div   class="container mt-4" style="min-height: 400px;">
   
<div class="row">
     <div class="col-md-8">
            <h1>Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempora obcaecati aperiam sunt ratione aspernatur aliquam accusamus fuga doloremque quaerat! Molestiae vero ullam est nostrum placeat nesciunt quidem beatae perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda adipisci nobis debitis amet quam, quas nisi repudiandae nostrum. Perspiciatis dolorem soluta facilis illum ad nihil odio autem neque iure ullam!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tempora dolore recusandae illum a itaque, obcaecati quaerat dicta, consectetur eligendi modi, dolorum voluptatum dolores pariatur nesciunt autem repellat aspernatur illo.</p>
        </div>
    </div>
</div>


<%- include ('footer') %>0